<h1> New Food Truck Form  </h1>


<%= form_for @truck do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :specialty %>
  <%= f.text_field :specialty %>
  <%= f.collection_select :neighborhood_id, Neighborhood.all, :id, :name, prompt: "Select a neighborhood"%>
  <%= f.submit %>

<% end %>
