<h1><%= @truck.name %></h1>
<h3>Find us in <%=link_to @truck.neighborhood.name, neighborhood_path(@truck.neighborhood) %>!</h3>
<h3>Specializes in <%= @truck.specialty %></h3>

<h4><%= link_to "Review Us!", new_review_path %></h4>

<div class="grid-container">
  <%@truck.most_recent.each do |review|  %>
    <div class="grid-item">
      Written By:
      <%= link_to review.user.name, user_path(review.user) %>
      <br>
      Rating:
      <%= review.rating %>
    </div>

    <div class="grid-item">
      <%= review.content %>
    </div>

    <div class="grid-item">
        <%= image_tag (review.image.url) if review.image? %>
    </div>
    <% end %>
</div>
