<h1><%= @truck.name %></h1>
<h3>Specializes in <%= @truck.specialty %></h3>

<h4><%= link_to "Review Us!", new_review_path %></h4>

<p>  <%@truck.most_recent.each do |review|  %>
  <br>
  <br>
  Written By:
  <%= link_to review.user.name, user_path(review.user) %>
  <br>
  <br>
  <br>
  The rating:
  <%= review.rating %>
  <br>
  <br>
  <%= review.content %>
  <br>
  <br>
  <%= image_tag review.image_url.to_s if review.image_url.present? %>
  <% end %>

</p>
