<h1 class="title"><%= @truck.name %></h1>
<h2>Specializes in <%= @truck.specialty %></h2>

<h4 class="link"> <%= link_to "Review Us!", new_review_path %></h4>

<div class="grid-container">
  <%@truck.most_recent.each do |review|  %>
    <div class="grid-item">
      Written By:
      <%= link_to review.user.name, user_path(review.user) %>
      <br>
      Rating:
      <%= review.rating %>
    </div>

    <div class="grid-item">
      <%= review.content %>
    </div>

    <div class="grid-item">
        <%= image_tag (review.image.url) if review.image? %>
    </div>
    <% end %>
</div>
