<h1>Sign Up!</h1>
<div class="signin">


<%= form_for @user do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name, class: "formlabel"%>
  <br>
  <br>
  <%= f.label :email %>
  <br>
  <%= f.email_field :email, class: "formlabel" %>
  <br>
  <br>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password,class: "formlabel" %>
  <br>
  <br>
  <%= f.label :password_confirmation %>
  <br>
  <%= f.password_field :password_confirmation,  class: "formlabel"%>
  <br>
  <br>

  <%= f.submit  "Sign Up", class:"submit"%>
<% end %>
</div>
