 <h2><%= @user.name %></h2>
 <%= link_to "Create A New Review", new_review_path %>
<ul>
  <h1>My Reviews</h1>
  <% @user.most_recent.each do |review| %>
  <p>
    <h2><%= link_to review.truck.name, truck_path(review.truck) %></h2>
    <br>
    My rating: <%= review.rating  %>
    <br>
    <br>
    <%= review.content %>
    <br>
    <%= image_tag review.image_url.to_s if review.image_url.present? %>
  </p>
  <% end %>
  <br>
  <br>
  <br>

</ul>
