<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nomads</title>
  </head>
  <body>
    <br>
    <!-- <h1 class="title">Nomads</h1> -->
    <%= image_tag asset_path("nomad1.jpg"), class: "logoimage" %>
    <%= image_tag asset_path("foodtruck.jpg"), class: "centerimage" %>
    <h2 class="titletoo">Source for all your Food Truck Needs</h2>
    <br>
    <!-- <div class="titletoo">
      <%= form_tag(trucks_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Trucks" %>
      <%= submit_tag "Search", :name => nil, class:"submit" %>
      <% end %>

    </div> -->




  </body>
</html>
