<h1>Review Form </h1>

<%= form_for @review do |f| %>
<br>
<%= f.label :truck %>
<br>
<%= f.collection_select :truck_id, Truck.all, :id, :name, prompt: "Select a truck"%>
<br>
<br>
<br>
<%= f.label :rating %>
<br>
<%= f.number_field :rating, placeholder: "1-5", min: 1, max: 5 %>
<br>
<%= f.label :content %>
<br>
<%= f.text_area :content, size: "60x12", placeholder: "What do you want to say?" %>
<br>
<br>
<%= f.label :image %>
<%= f.file_field :image %>
<br>
<%= f.submit "Post" %>
<% end %>
