<!DOCTYPE html>
<html>
  <head>
    <title>Nomads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <div align="right"><%= link_to @curr_user.name, user_path(@curr_user) %>
      <%= link_to "Logout", logout_path, method: :delete %></div>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
